flows.json
[
    {
        "id": "b116184ffaa75eec",
        "type": "tab",
        "label": "7AI+2PR_Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "01876fa765e39d54",
        "type": "2DI+1PR+2T-Config",
        "name": "",
        "pulseWidthMsR": "",
        "pulseFilterMsDI1": "10",
        "pulseFilterMsDI2": "10",
        "T1_type": "1",
        "T2_type": "1",
        "eventModeDI": "poll",
        "intervalMsDI": "1000",
        "thresholdDI": "1",
        "eventModeT": "poll",
        "intervalMsT": "1000",
        "thresholdT": "1",
        "lowLimitT": "5",
        "highLimitT": "50"
    },
    {
        "id": "c4fa6cbb.3eb1e",
        "type": "7AI+2PR-Config",
        "name": "",
        "sampleRatePeriodMs": "500",
        "pulseWidthMsR1": "0",
        "pulseWidthMsR2": "",
        "modeI1": "voltage",
        "modeI2": "voltage",
        "modeI3": "voltage",
        "modeI4": "voltage",
        "modeI5": "voltage",
        "modeI6": "voltage",
        "modeI7": "voltage",
        "eventMode": "poll",
        "intervalMs": "1000",
        "threshold": "1",
        "lowLimit": "",
        "highLimit": "10"
    },
    {
        "id": "f32735bae6710c0e",
        "type": "comment",
        "z": "b116184ffaa75eec",
        "name": "Analog input functions",
        "info": "",
        "x": 346,
        "y": 758,
        "wires": []
    },
    {
        "id": "1c8772b699662280",
        "type": "inject",
        "z": "b116184ffaa75eec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "21b5f2f431d8c229"
            ]
        ]
    },
    {
        "id": "21b5f2f431d8c229",
        "type": "debug",
        "z": "b116184ffaa75eec",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1060,
        "wires": []
    }
]